@import './_variable';

* {
 @include reset;
 font-family: $main_font;
}

nav {
 height: 6.5rem;
 background-color: $blc_color;
 padding: 2rem 6rem;
 img {
  max-width: 6.25rem;
  max-height: 6.25rem;
 }
}

header {
 height: 100vh;
 background: url('../img/greenbg.png') no-repeat;
 background-size: cover;
 padding: 6rem 7rem;
 h1 {
  max-width: 75%;
  line-height: 1.2;
  font-size: 5.7rem;
  font-weight: 400;
  color: $blc_color;
 }
 p {
  @include pFont;
  font-size: 1.4rem;
  margin-top: 2rem;
  max-width: 55%;
 }
}

section.section-1 {
min-height: 48vh;
background-color: $blc_color;
position: relative;
   .container-fluid {
    padding: 0 8rem;
    position: absolute;
    top: -4rem;
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 2rem;
        .col {
           background-color: #fff;
           padding: 2rem;
           text-align: center;
           .box_t {
              margin: 1rem auto;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              background-color: $gr_color;
           }
           h3 {
            @include h3Font;
            color: $gr_color;
           }
           p {
            @include pFont;
            font-style: italic;
           }
        }
   }
  }
}

@include lg {
    html {
        font-size: 14px;
    }
}
@include md {
    html {
        font-size: 12px; 
    } 
    header {
        height: max-content;
        padding: 4rem 6rem;
        h1 {
         max-width: 80%;
         font-size: 5.2rem;
        }
        p {
         @include pFont;
         font-size: 1.2rem;
         max-width: 70%;
        }
       }
    
}
@include sm {
    html {
        font-size: 10px;
        
    } 
    section.section-1 {
        height: 80vh;
        .container-fluid {
           .row{
        grid-template-columns: repeat(1, 1fr);
      }
     }
    }
}