$main_font: 'Roboto Condensed', sans-serif;
$gr_color: #6ac17d;
$blc_color: #2d2d4a;

@mixin pFont {
 font-weight: 400;
 line-height: 1.6;
 font-size: 1rem;
}
@mixin h2Font {
 font-weight: 700;
 line-height: 1.2;
 font-size: 3rem;
}
@mixin h3Font {
 font-weight: 700;
 line-height: 1.2;
 font-size: 1.875rem;
}
@mixin reset {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
