@import './_variable';

* {
 @include reset;
 font-family: $main_font;
}

nav {
 height: 6.5rem;
 background-color: $blc_color;
 padding: 2rem 6rem;
 img {
  max-width: 6.25rem;
  max-height: 6.25rem;
 }
}

header {
 height: 100vh;
 background: url('../../img/greenbg.png') no-repeat;
 background-size: cover;
 padding: 6rem 7rem;
 h1 {
  max-width: 75%;
  line-height: 1.2;
  font-size: 5.7rem;
  font-weight: 400;
  color: $blc_color;
 }
 p {
  @include pFont;
  font-size: 1.4rem;
  margin-top: 2rem;
  max-width: 55%;
 }
}
